language: php

php:
  - 7.1.3

install:
  - composer install
  - cp .env.example .env
  - php artisan key:generate
  - touch database/database.sqlite
  - php artisan migrate --force

script:
  - vendor/bin/phpunit --coverage-clover=coverage.xml

after_success:
  - bash <(curl -s https://codecov.io/bash)